<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#vcarousel').jcarousel({
      vertical:true,
      scroll:2
    });
  });
</script>

<div id="tools">
  <a href="#">Add to Favorites</a> |
  <a href="#">Share</a> |
  <a href="#">Edit Photos</a> |
  <a href="#">Edit Content</a>
</div>

<h1>Jinzhen's Game Face</h1>
<div id="image_box">
  <img id="main_image" src="http://photos.cuttlefishtech.com/last-lan-5-16/1200.800.90.IMG_4170.JPG"/>
  <div class="v-car" style="float:right">
    <ul id="vcarousel" class="v-car">
      <li><img src="http://photos.cuttlefishtech.com/last-lan-5-16/200.133.90.IMG_4170.JPG"/></li>
      <li><img src="http://photos.cuttlefishtech.com/last-lan-5-16/200.133.90.IMG_4196.JPG"/></li>
      <li><img src="http://photos.cuttlefishtech.com/last-lan-5-16/200.133.90.IMG_4198.JPG"/></li>
      <li><img src="http://photos.cuttlefishtech.com/last-lan-5-16/200.133.90.IMG_4275.JPG"/></li>
      <li><img src="http://photos.cuttlefishtech.com/last-lan-5-16/200.133.90.IMG_4090.JPG"/></li>
    </ul>
  </div>
  <div id="add_more">Add More</div>
</div>
<h2 class="full">Description</h2>
<p>This graffiti showcases the complex techniques used to create scratch-art.
  It's not clear exactly what sort of tool, be it a knife or a razor blade,
  was used to create this result, but it sure is wonderful.</p>
<h2 class="full">Comments?</h2>
<p>Do we want to have comments on graffiti?</p>