<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
<script type="text/javascript">

  jQuery(document).ready(function() {
    jQuery('#carousel').jcarousel();
  });

</script>
<style type="text/css">
  #carousel li
  {
    height:160px;
    width:240px;
    background-color:#999999;
  }
  #carousel li div
  {
    position:absolute;
    height:20px;
    bottom:0px;
    width:230px;
    background-color:rgba(0,0,0,0.3);
    color:white;
    font-family:Arial;
    font-weight:bold;
    font-size:12px;
    padding:5px;
  }
</style>



<h1>Welcome to Global Flush</h1>
<p>Global Flush is a fun and exciting way to find the best (and worst) bathrooms.</p>
<p>Get started by searching a geographical area or browsing the top rated facilties.</p>
<h3>Find a Bathroom</h3>
<div id="find">
  <input id="zip" type="text" value="Enter a Zipcode or Address"/>
  <input id="go" type="submit" value="Go" />
  <div id="via_map">via Map</div>
  <div id="via_browse"><%= link_to 'via Browse', bathrooms_url%></div>
</div>
<h3>Top Bathrooms</h3>
<div class="top-bathroom">
  <ul id="carousel" class="top-bathroom">
    <li><div>Bathroom 1</div></li>
    <li><div>Bathroom 2</div></li>
    <li><div>Bathroom 3</div></li>
    <li><div>Bathroom 4</div></li>
    <li><div>Bathroom 5</div></li>
    <li><div>Bathroom 6</div></li>
    <li><div>Bathroom 7</div></li>
    <li><div>Bathroom 8</div></li>
    <li><div>Bathroom 9</div></li>
  </ul>
</div>