<div id="nav">
  <%= link_to 'Home', root_url %>
  <!-- <a href="#">Home</a> -->
  <a href="#">Browse</a>
  <a href="#">Search</a>
  <a href="#">Map</a>
  <a href="#">Add</a>
  <a href="#">Top</a>

  <div>
    <a href="#">About</a>
  </div>
</div>