<div id="nav">
  <div id="bar">
    <%= link_to 'Home', root_url %>
    <%= link_to 'Browse', bathrooms_url %>
    <a href="#">Search</a>
    <a href="#">Map</a>
    <a href="#">Add</a>
    <a href="#">Top</a>
    <div>
      <a href="#">About</a>
    </div>
  </div>
</div>